<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>KogTcg</title>
  <link rel="stylesheet" href="../../public/css/styles.css">
</head>
<body>

  <header class="header">
    <div class="logo">
      <img src="../../public/assets/logo.png" alt="KogTcg">
    </div>
    <nav class="nav-menu">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Contact Us</a></li>
        <li><a href="../Login/login.html">Login</a></li>
        <li><a href="../CadastroUsuario/cadastro.html">Cadastro</a></li>
      </ul>
    </nav>
  </header>

  <!-- Frase de destaque -->
  <section class="highlight">
    <h1>Petood</h1>
    <h4>O melhor amigo do seu Pet</h4>
  </section>

  <!-- Lista de produtos com paginação -->
  <section class="products-section">
    
    <!-- Paginação -->
    <div class="pagination">
      <button class="prev-page">←</button>
      <a href="#">1</a>
      <a href="#">2</a>
      <a href="#">3</a>
      <span>...</span>
      <a href="#">20</a>
      <a href="#">21</a>
      <a href="#">22</a>
      <button class="next-page">→</button>
    </div>

  </section>

  <footer>
    <!-- rodapé aqui -->
  </footer>

</body>
</html>
