<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Histórico de Vendas</title>
    <link rel="stylesheet" href="../public/css/salesHistoryStyle.css">
</head>

<body>
    <header>
        <h1>Minha Loja - Histórico de Vendas</h1>
        <nav>
            <ul>
                <li><a href="profileUser.html">Home</a></li>
                <li><a href="sales.html">Vendas</a></li>
                <li><a href="salesHistory.html">Histórico de Vendas</a></li>
                <li><a href="support.html">Suporte</a></li>
                <li><a href="settings.html">Atualizar Dados</a></li>
                <li><a href="login.html">Sair</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
        <section id="sales-history">
            <h2>Histórico de Vendas</h2>
            <div id="salesList">
                <!-- O histórico de vendas será carregado dinamicamente -->
            </div>
        </section>
    </main>
<script src="../public/js/salesHistory.js"></script>
</body>

</html>
