<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Painel de Suporte - Admin</title>
    <link rel="stylesheet" href="../public/css/support_adminStyle.css">
</head>

<body>
    <header>
        <h1>Minha Loja - Admin Suporte</h1>
        <nav>
            <ul>
                <li><a href="profileUser.html">Home</a></li>
                <li><a href="sales.html">Vendas</a></li>
                <li><a href="salesHistory.html">Histórico de Vendas</a></li>
                <li><a href="support.html">Suporte</a></li>
                <li><a href="settings.html">Atualizar Dados</a></li>
                <li><a href="login.html">Sair</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="content">
            <h1>Solicitações de Suporte</h1>
            <table id="supportRequestsTable">
                <thead>
                    <tr>
                        <th>Usuário</th>
                        <th>Email</th>
                        <th>Tipo de Suporte</th>
                        <th>Descrição</th>
                        <th>Status</th>
                        <th>Ação</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- As solicitações serão inseridas aqui dinamicamente -->
                </tbody>
            </table>
        </div>
    </main>

    <script src="../public/js/support_AdminScript.js"></script>
</body>

</html>
