<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gerenciamento de Produtos</title>
</head>
<body>
  <h1>Produtos</h1>
  <ul id="produtos-lista"></ul>

  <h2>Adicionar Produto</h2>
  <form id="produto-form">
    <input type="text" id="nome" placeholder="Nome do Produto" required><br>
    <input type="text" id="descricao" placeholder="Descrição" required><br>
    <input type="number" id="preco" placeholder="Preço" required><br>
    <input type="number" id="estoque" placeholder="Estoque" required><br>
    <button type="submit">Adicionar Produto</button>
  </form>

  <script src="../CadastroProduto/cadastroproduto.js"></script>
</body>
</html>
